<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="container">
        <!-- <img src="/public/Realist.png" alt="Logo"> -->
        <div class="title">
            <h2>ReList Service for Realtors</h2>
        </div>
        
        <div class="auth-links">
            <h2>Login</h2>
            <h2>Sign Up</h2>
        </div>
    </div>
    

    <h2>Main Menu</h2>
    <div>
    <a href="/createListing">Add a Listing</a>
    <a href="/allListings">All Listings</a>
        </div>
</body>
</html>

