<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <h1>All Listings</h1>

    <% listings.forEach(listings => { %>
        <li><a href="/allListings/<%= listings._id %>">
            <%= listings.address %></a></li>
        </a>
        <p>Price:$<%= listings.price %></p>
    <% }); %>
</body>
</html>